/* Canvas Main Styling  */
html{height: 100%; width: 100%;}

body{
    display: grid;
    justify-items: center;
    height: 100%; 
    width: 100%;
    overflow: hidden;
    color: white;
    background-color: #000; 
    transition: background-color 3.0s ease;
}

#myCanvas { 
    height: 500px; 
    width: auto;
    border: solid #444 3px;
}

#scoreKeeper{
    font-size: 2rem; 
    font-family: Arial, Helvetica, sans-serif;
}